
<div style="text-align: center;">
    <mat-card>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput>
          </mat-form-field>
         
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="">Multple Choice</mat-option>
              <mat-option value="">Linear Scale</mat-option>
              <mat-option value="">Check Box</mat-option>
              <mat-option value="">Short Text</mat-option>
            </mat-select>
          </mat-form-field>
    </mat-card>
</div>
